# Node.js dependencies
node_modules/
npm-debug.log

# Environment files
.env

# VSCode
.vscode/

# OS generated
.DS_Store  # macOS
Thumbs.db  # Windows
desktop.ini  # Windows

# Temporary files
*.tmp
*.swp
*.swo
